


<div class="slider_box">
  <p> 
   
    <label for="amount">Size of board:</label>
    <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
     <a href="#" id="randomize">Start Game</a>
    <div id="slider"></div>
  </p>
  
</div>


<ul id="game_container" data-size="2"></ul>


<script type="text/template" id="tmpl_square" ><li data-position="<%%= id %>" class="box"><img style="bottom: <%%= bottom %>px; right: <%%= right %>px" src=<%= @image %> /></li></script>

 <!--  <div class="box"><img src="http://scontent-b.cdninstagram.com/hphotos-frc/t51.2885-15/10424422_247595372098274_122572345_n.jpg" />
  </div><div class="box"><img id="img2" src="http://scontent-b.cdninstagram.com/hphotos-frc/t51.2885-15/10424422_247595372098274_122572345_n.jpg" />
  </div><div class="box"><img id="img3" src="http://scontent-b.cdninstagram.com/hphotos-frc/t51.2885-15/10424422_247595372098274_122572345_n.jpg" />
  </div><div class="box"><img id="img4" src="http://scontent-b.cdninstagram.com/hphotos-frc/t51.2885-15/10424422_247595372098274_122572345_n.jpg" />
  </div> -->