<h1>Facebook timeline</h1>



<%= link_to 'Star Wars your facbook timeline', starwars_facebook_index_path %>
<%= link_to 'Star Wars your twitter timeline', starwars_twitter_index_path %>


<% @tweets.each do |tweet| %>
  <p><%= tweet.full_text %></p>
<% end %>


