/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 


*{
  box-sizing: border-box;
  font-family: 'Carrois Gothic', sans-serif;
  @font-face;
}

#user_image {
  width: 100px;
}

body {
  margin: 0;
  padding: 0;
  background: black;

}

.wholething {
  background: black;
  width: 100%;
  height: 100em;
}
#main{
 position: absolute;
 padding: 0px;
 /*width: 15em;*/
  width: 100%;
  height: 50em;
  bottom: 0;
  /*border: 1px solid red;*/
  /*left: -5%;*/
  /*margin-left: 5%;*/
  font-size: 350%;
  text-align: justify;
  /*overflow: hidden;*/
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(25deg);
}


#twitter_container{
  /*border: 1px solid green;*/
  color: #ff6;
  position: absolute;
  top: 100%;
  line-height: 350%;
  -webkit-animation: scroll 200s linear 5s infinite;
  margin-left: 13%;
  margin-right: 13%;
}

@-webkit-keyframes scroll {
  0% { top: 100%; }
  100% { top: -770%; }
}

#title {
  opacity: 0;
  margin-top: 150px;
  /*width: 200px;*/
  /*height: 200px;*/
  -webkit-animation: fadeinout 4s linear;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.landing_page {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  color: #ff6;
  a {
    text-decoration: none;
    color: #ff6;
    transition: all 0.2s;
    &:hover {
      background:  #ff6;
      color: black;
    };
    };
  h2 {
    border-top: 8px solid #ff6;
    border-bottom: 8px solid #ff6;
    padding: 5px;
  }
}

#acknowledge a {
  margin-top: 5px;
  font-size: 0.7em;
  padding: 5px;
  width: 90%;
  display: inline-block;  
  border-radius: 5px;
}

#home_buttons{
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    line-height: 10px;
    a {
      text-align: center;
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ff6 ;
    border-radius: 5px;
    color: #ff6;
    margin: 5px 0;
    transition: all 0.2s;
    &:hover {
      background:  #ff6;
      color: black;
    };
  }

}

#front-share{
    margin-top:40px;
    padding: 5px;
    width: 90%;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff6 ;
    border-radius: 5px;
    color: #ff6;
    font-size: 0.8em;
    transition: all 0.2s;
    &:hover {
      background:  #ff6;
      color: black;
    };

}

#timeline_view {
  display: inline-block;
  padding: 15px 10px;
  width: 300px;
  margin: 20px 0;
  line-height: 1.5em;
  border: 2px solid #ff6;
  border-radius: 5px;
}
#or{
  display: inline;
}


#input_user {
  display: inline-block;
  width: 300px;
  margin: 20px 0;
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    /*line-height: 1.5em;*/
    border-radius: 5px;
  }
  input[type="submit"]{
    -webkit-appearance:none;
    background: black !important;
    border: 2px solid #ff6 !important;
    border-radius: 5px !important;
    color:#ff6;
    width: 90%;
    /*height: 50px;*/
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
     transition: all 0.2s;
    &:hover {
      color: black !important;
      background: #ff6 !important;
    };
    
  }
}

#error_wars{
  background:  #ff6;
  color: black;
  padding: 10px;
  margin: 10px;
}




#facebook_container{
  color: #ff6;
  position: absolute;
  top: 100%;
  line-height: 350%;
  -webkit-animation: scroll 200s linear 4s infinite;
}






.facebook_pics {
  width: 100%;
}
.box {
  width: 320px;
  height: 320px;
  overflow: hidden;
  /*display: inline-block;*/
  border: 2px solid white;
  float: left
}

.box img {
  margin: 0;
  padding: 0;
  width: 640px;
  position: relative;
}

a#play_music {
  display: none;
}

@media screen and (max-width: 600px) {

  #twitter_container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 200%;
    font-size: 90%;
  }

  a#play_music {
  display: inline-block;
  /*width: 100%;*/
  /*heigh: 50px;*/
}
  #home_buttons{
    width: 100%;
    a {
      margin: 0;
      width: 100%;
    }
  }

 #home_buttons{
  opacity: 0;
    -webkit-animation: fadeinout2 60s linear;
  }

@-webkit-keyframes fadeinout2 {
  0% { opacity: 1; }
  5% { opacity: 1; }
  10% { opacity: 0; }
  30% { opacity: 0; }
  35% { opacity: 1; }
}
}
